{% extends 'base.html' %}
{% block title %}
    Survey Extractor Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="position-relative overflow-hidden p-0 p-md-0 m-md-0 text-center bg-dark" style="color:white">
        <div class="col-md-5 p-lg-5 mx-auto my-10">
            <h1 class="display-8 font-weight-normal">Survey Extractor</h1>
            <p class="lead font-weight-normal">Select a pdf file to extract survey images.</p>
            <p class="note editorial">Images will be named by ID number followed by an 'a' or 'b' for each page of a survey.
            Page 'a' will be rotated clockwise. Page 'b' will be rotated counterclockwise</p>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
    <br>
    <div class="container">
        <form action = "http://localhost:5000/img_extract" method = "POST" enctype = "multipart/form-data">
            <input type="file" id="myFile" name="file" accept=".pdf">
            <input type="submit">
        </form>
    </div>
</body>
{% endblock %}