{% extends 'base.html' %}
{% block title %}
    Tabulation Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="position-relative overflow-hidden p-0 p-md-0 m-md-0 text-center bg-dark" style="color:white">
        <div class="col-md-10 p-lg-5 mx-auto my-10">
            <h1 class="display-8 font-weight-normal">Tabulate with SurVision</h1>
            <p class="lead font-weight-normal">Select directory to be tabulated</p>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
    <br>
    <div class="container">
        <br><p class="lead font-weight-normal">Step 1. Select a Survey Key</p>
        <form action = "{{ url_for('tabulate_surveys') }}" method = "POST" enctype = "multipart/form-data">
            <select name= 'survey_key' method="POST" id="survey key select">
                <option value= "choose key" SELECTED>--Choose Key--</option>
                {% for survey_key in survey_keys %}
                    <option value= "{{ survey_key }}">{{ survey_key }}</option>
                {% endfor %}
            </select>
        <br><p class="lead font-weight-normal">Step 2. Select all the files to be tabulated</p>
            <input type="file" id="myFile" name="files[]" multiple accept=".png">
            <br>
            <br>
            <p class="lead font-weight-normal">Step 3. To start, press the Begin Tabulating button</p>
            <input type="submit" value = "Begin Tabulating">
        </form>
    </div>
</body>
{% endblock %}